*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.container{
    background-image: url("assets/estrada.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 680px;

    position: relative;
}
.points{
    font-size: 50px;
}
.pointrestart{
    background-color: black;
    color: white;
    border-radius: 6px;
    
    width: 300px;
    position: absolute;
    top: 25%;
    right: 40%;
    
    font-size: 50px;
    text-align: center;
}
.restart{
    width: 250px;
    font-size: 50px;
    text-align: center;
    
    background-color: greenyellow;

    position: absolute;
    top: 40%;
    right: 42%;

    display: none;

    cursor: pointer;
}
.restartblock{
    display: block;
}
.character{
    width: 65px;
    
    position: absolute;
    bottom: 0px;
    right: 65%;
}

.car{
    width: 90px;
    
    position: absolute;
    right: 0px;
    

    animation: carAnimation 3.7s infinite linear;
}
#car1{
    top: 10%;
}
#car2{
    top: 25%;
    animation-delay: -2.3s;
    animation-duration: 4.6s;
}
#car3{
    top: 40%;
    animation-delay: -1.5s;
    animation-duration: 4.2s;
}
#car4{
    top: 55%;
    animation-delay: -2s;
    animation-duration: 4.3s;
}
#car5{
    top: 68%;
    animation-delay: -1s;
    animation-duration: 4s;
}
#car6{
    top: 82%;
    animation-delay: -1.3s;
    animation-duration: 4.1s;
}

@keyframes carAnimation{
    0% {
        right: -600px;
    }

    100%{
        right: 150%;
    }
}